<?xml version="1.0"?>
<configuration>
  <location>
    <system.web>
      <authorization>
        <allow roles="Продавец,Кладовщик,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
<location path="TovarE.aspx">
    <system.web>
      <authorization>
        <allow roles="Продавец,Кладовщик,admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
